/* MY CUSTOM STYLES */

/*to do list*/
.dos{
  margin: 0 15px;
}
/*custom navbar*/
#c-navbar {
  background-color: #28a2f0;
  color: #FFFFFF;
  height: 87px;
  padding: 18px;
}

/*custom navbar input*/
.c-navbar-input {
  padding: 11px 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  outline: 0 none;
  font-size: 15px;
  color: #000;
}

/*tasks submit buttom*/
.c-button {
  background-color: #2469d9;
border: 1px solid #2469d9;
border-radius: 0 4px 4px 0;
color: #565656;
padding: 5px 0;
height: 43px;
cursor: pointer;

}
/*nav for large screen*/
.largenav {
  display: none;
}

/*nav for large screen*/
.smallnav{
  display: block;
}

/*responsive navs*/
@media screen and (min-width: 768px) {
  .largenav {
    display: block;
  }
  .smallnav{
    display: none;
  }
  .smallsearch{
    margin: 0px;
  }
}

/*
* for active elements*/
.active {
  padding: 5px;
border-radius: 4px;
color: black !important;
font-size: larger;

}
div {
    transition: all linear 0.5s;

}
.ng-hide {
    height: 0;
}
.ng-repeat{
  display: inherit;
}
