
<!--
<li>
    <time>
        <span class="day">{{$index+1}}</span>
    </time>
    <div class="info" ng-class="{'task-done' : li.type[0] == 'true'}">
        <h5 class="title">{{li.item[0]}}</h5>
        <ul style="text-align: right">
            <li style="display: inline" ng-click="delete(li.key[0])" ><span class="fa fa-trash-o"></span></li>
            <li style="display: inline" ng-click="markedDone(li.key[0])" ng-if="li.type[0] == 'false'"><span class="fa fa-check-circle-o"></span></li>
        </ul>
    </div>
</li> -->

<li class="list-group-item" ng-class="{'list-group-item-info' : li.type[0] == 'true'}">

<!--
  <span ng-click="delete(li.key[0])" class="label label-warning pull-right">Delete</span>
  <span ng-click="markedDone(li.key[0])" class="label label label-info pull-right">Done</span>
-->
<button type="button" ng-click="markedDone(li.key[0])" ng-if="li.type[0] == 'false'" class="btn btn-default btn-circle pull-right"><i class="glyphicon glyphicon-ok"></i></button>
<button type="button" ng-click="delete(li.key[0])"  class="btn btn-warning btn-circle pull-right"><i class="glyphicon glyphicon-trash"></i></button>
{{li.item[0]}}
</li>
