<!--
<div class="col-md-12">
  <fieldset class="form-group">
      <input type="checkbox" id="checkbox2" class="dos">
      <label for="checkbox2"><h2 class="col-md-offset-2">{{li.item[0]}}</h2></label>
      <hr>
  </fieldset>
</div>
-->


<li>
    <time>
        <span class="day">{{$index+1}}</span>
    </time>
    <div class="info" ng-class="{'task-done' : li.type[0] == 'true'}">
        <h5 class="title">{{li.item[0]}}</h5>
        <ul style="text-align: right">
            <li style="display: inline" ng-click="delete(li.key[0])" ><span class="fa fa-trash-o"></span></li>
            <li style="display: inline" ng-click="markedDone(li.key[0])" ng-if="li.type[0] == 'false'"><span class="fa fa-check-circle-o"></span></li>
        </ul>
    </div>
</li>
