<div class="container" ng-if="listItems.length === 0">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="http://osmhotels.com//assets/check-true.jpg">
        <h3>Dear, Faisal khan</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for verifying your Mobile No.We have sent you an email "faisalkhan.chat@gmail.com" with your details
Please go to your above email now and login.</p>
        <a href="" class="btn btn-success">     Log in      </a>
    <br><br>
        </div>

	</div>
</div>

<!--
<div class="container" ng-if="listItems.length !== 0">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-12 ]">
            <ul class="event-list">
                <to-do-list ng-repeat="li in listItems.slice().reverse()" ng-click="markedDone(li.key[0])"></to-do-list>
            </ul>
        </div>
    </div>
</div>
-->
<ul class="list-group">
    <to-do-list ng-repeat="li in listItems.slice().reverse()" ng-click="markedDone(li.key[0])"></to-do-list>
</ul>
